<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/create.css">
    <title>MyFinances - Login</title>
</head>
<body>
    <form method="post" class="login" action="page-one">
        {% csrf_token %}
        <h2><img src="static/images/money-back64.png"/>MyFinances</h2>


        <div id="Uemail">
            {{ form_login.username.errors }}
         <label><b>Email: </b></label>
            {{ form_login.username }}
        </div>

        <div id="Pass">
            {{ form_login.password.errors }}
          <label><b>Senha: </b></label>
            {{ form_login.password }}
        </div>


        <div>
            <input type="submit" id="log" name="Cadastrar">
        </div>
    </form>
</body>
</html>