<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyFinances</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/login.css"/>
    <link rel="shortcut icon" href="static/images/money-back.png" type="image/x-png"/>
</head>
<body>
    <div class="login">
    <form id="login" method="get" action="page-one">
        <h2><img src="static/images/money-back64.png"/>MyFinances</h2>
        <label><b>Email
        </b>
        </label>
        <input type="email" name="Uname" id="Uname" size="20" maxlength="40" placeholder="Email">
        <br><br>
        <label><b>Senha
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" size="8" maxlength="8"  placeholder="Senha">
        <br><br>
        <input type="button" name="log" id="log" value="Entrar">
        <br><br>
        <input type="checkbox" id="check">
        <span>Lembre-me</span>
        <br><br>
        <a href="#">Esqueci minha senha</a>
    </form>
</div>
</body>
</html>